Hvvskee_MnfConfig.xsd.bak

<?xml version="1.0"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">

	<xsd:element name="identity" type="MsgIdentityType"/>
	<xsd:element name="msguid" type="MsgUIDType"/>
	<xsd:element name="msgcorelid" type="MsgUIDType"/>

	<xsd:simpleType name="MsgUIDType">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="400"/>
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:complexType name="MsgIdentityType">
		<xsd:sequence>
			<xsd:element ref="msguid" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element ref="msgcorelid" minOccurs="0" maxOccurs="unbounded" />
		</xsd:sequence>
	</xsd:complexType>



</xsd:schema>